@media (max-width: 768px) {
    .catigories_item img { height: 180px; }
    .product { flex: 0 0 160px; min-height: auto; }
    .product .product-img { height: 140px; }
    .cart-section {
        right: 50%!important;
        transform: translateX(50%);
        
    }
}



